Supplier Sentiment Intelligence/Supplier Sentiment Intelligence.json
{
  "name": "Supplier Sentiment Intelligence",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -624,
        -48
      ],
      "id": "232fd9ca-0285-4399-b634-c32f1551864f",
      "name": "Monitor Incoming Emails",
      "credentials": {
        "gmailOAuth2": {
          "id": "9BcoeM3ZeEh4rWuy",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "84a9514f-d38b-4bd7-ae5b-4179ec628ee4",
              "leftValue": "={{ $json.From }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "5dff64b0-a4c4-4f18-83c8-87cbc3de7990",
              "leftValue": "={{$json.Subject}}",
              "rightValue": "unsubscribe",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "e661feef-0125-4301-a45d-9e271eea9afc",
              "leftValue": "={{$json.From}}",
              "rightValue": "no-reply",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "e16eaf05-355c-462f-a0f1-4406b2ceb60f",
              "leftValue": "={{$json.Subject}}",
              "rightValue": "auto-reply",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "b9816ac3-6d45-4d88-8fbe-c089051c6245",
              "leftValue": "={{$json.Subject}}",
              "rightValue": "newsletter",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -352,
        -48
      ],
      "id": "97f860fb-7ab2-441b-a157-a8961c4bb60e",
      "name": "Filter Valid Supplier Emails"
    },
    {
      "parameters": {
        "jsCode": "const email = $input.first().json;\n\nreturn [{\n  json: {\n    supplier_email: email.From,\n    subject: email.Subject,\n    body: email.snippet,\n    // Using backticks (template literals) with real line breaks also works!\n    full_text: `Subject: ${email.Subject}\n\nBody: ${email.snippet}`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        -64
      ],
      "id": "b42fd03c-d72e-4046-bb45-0d674dec7b83",
      "name": "Structure Email Data"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemma-4-26b-a4b-it",
          "mode": "list",
          "cachedResultName": "models/gemma-4-26b-a4b-it"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a supplier relationship analyst. Analyze the following email and return ONLY a valid JSON object with no extra text.\n\nEmail:\n{{$json.full_text}}\n\nReturn this exact structure:\n{\n  \"sentiment_score\": <number -1.0 to 1.0>,\n  \"sentiment_label\": \"<positive|neutral|negative>\",\n  \"intent\": \"<complaint|inquiry|update|escalation|appreciation>\",\n  \"urgency\": \"<low|medium|high>\",\n  \"key_concern\": \"<one-line summary of main concern or topic>\",\n  \"deterioration_risk\": <true|false>\n}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        608,
        -64
      ],
      "id": "e21e4418-57eb-4c6b-8cb0-c1fd123fe0fc",
      "name": "Analyze Sentiment & Intent",
      "credentials": {
        "googlePalmApi": {
          "id": "Pp8fhk0h83q9i2lx",
          "name": "sample2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cdc031ca-c3f1-45ce-a409-ae84ce509a5f",
              "name": "sentiment_score",
              "value": "={{ JSON.parse($json.content.parts[1].text.replace(/```json|```/g, '').trim()).sentiment_score }}",
              "type": "number"
            },
            {
              "id": "fa940739-a7a8-422c-8691-7149490a16c4",
              "name": "raw_text",
              "value": "={{ $json.content.parts[1].text.replace(/```json|```/g, '').trim() }}",
              "type": "string"
            },
            {
              "id": "e1e1fd54-082c-429d-9972-80cdd6818418",
              "name": "sentiment_label",
              "value": "={{ JSON.parse($json.content.parts[1].text.replace(/```json|```/g, '').trim()).sentiment_label }}",
              "type": "string"
            },
            {
              "id": "f350dd96-d9ee-40d4-8d79-eb4f37c33da0",
              "name": "intent",
              "value": "={{ JSON.parse($json.content.parts[1].text.replace(/```json|```/g, '').trim()).intent }}",
              "type": "string"
            },
            {
              "id": "51cdfa7a-8280-40b4-8d64-f5881d8ce12b",
              "name": "urgency",
              "value": "={{ JSON.parse($json.content.parts[1].text.replace(/```json|```/g, '').trim()).urgency }}",
              "type": "string"
            },
            {
              "id": "4bda2c3c-2d5d-4edd-b896-058176719d78",
              "name": "key_concern",
              "value": "={{ JSON.parse($json.content.parts[1].text.replace(/```json|```/g, '').trim()).key_concern }}",
              "type": "string"
            },
            {
              "id": "b93fd91f-8c2e-481f-9710-c17552b758fa",
              "name": "deterioration_risk",
              "value": "={{ JSON.parse($json.content.parts[1].text.replace(/```json|```/g, '').trim()).deterioration_risk }}",
              "type": "boolean"
            },
            {
              "id": "33fc9dc9-1718-439f-99dc-17343b3a24e7",
              "name": "supplier_email",
              "value": "={{ $('Structure Email Data').item.json.supplier_email }}",
              "type": "string"
            },
            {
              "id": "2cddd878-5ac8-4236-8d73-b006797fb94d",
              "name": "analysis_timestamp",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            },
            {
              "id": "410628ad-53f0-4ea1-9f96-7a022b491a2b",
              "name": "trend",
              "value": "={{ JSON.parse($json.content.parts[1].text.replace(/```json|```/g, '').trim()).sentiment_score < -0.4 ? 'declining' : JSON.parse($json.content.parts[1].text.replace(/```json|```/g, '').trim()).sentiment_score > 0.3 ? 'improving' : 'stable' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        928,
        -64
      ],
      "id": "23f3724e-bac4-49b7-bd24-bc94a13fec21",
      "name": "Extract & Normalize Insights"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "dde04b52-cc7f-4728-b195-301e467036ba",
              "leftValue": "={{$json.deterioration_risk}} ",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "18e93ece-048c-49f5-8a55-7b9e0356b3c2",
              "leftValue": "={{$json.sentiment_score}}",
              "rightValue": "-0.4",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1184,
        -64
      ],
      "id": "575003bc-5660-41b0-ad54-61316e5b84f6",
      "name": "Detect Supplier Risk"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemma-4-26b-a4b-it",
          "mode": "list",
          "cachedResultName": "models/gemma-4-26b-a4b-it"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a supplier relationship manager. Based on this analysis, write a concise, professional engagement strategy.\n\nSupplier: {{$json.supplier_email}}\nSentiment: {{$json.sentiment_label}} (score: {{$json.sentiment_score}})\nIntent: {{$json.intent}}\nUrgency: {{$json.urgency}}\nKey concern: {{$json.key_concern}}\n\nProvide:\n1. A recommended action (email, call, meeting)\n2. A draft opening message (2-3 sentences)\n3. Suggested timeline for follow-up"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        1680,
        -80
      ],
      "id": "9cb7203e-aa2c-47e6-986f-71df8129aee1",
      "name": "Generate Engagement Strategy",
      "credentials": {
        "googlePalmApi": {
          "id": "Pp8fhk0h83q9i2lx",
          "name": "sample2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get strategy text from second LLM output\nconst parts = $json.content?.parts ?? $json.parts;\nconst rawStrategy = parts[1].text;\n\nconst strategyText = rawStrategy\n  .replace(/\\\\n/g, '\\n')\n  .replace(/\\*\\*(.*?)\\*\\*/g, '$1')\n  .replace(/\\\\\\//g, '/')\n  .replace(/\\\\\"/g, '\"')\n  .trim();\n\n// Parse strategy into structured sections\nfunction parseStrategy(text) {\n  const sections = {};\n\n  // Extract recommended action\n  const actionMatch = text.match(/1\\.\\s*Recommended Action\\s*([\\s\\S]*?)(?=2\\.)/i);\n  if (actionMatch) sections.recommended_action = actionMatch[1].trim();\n\n  // Extract draft message — grab text between the first pair of double quotes\n  const draftMatch = text.match(/\"(Dear[\\s\\S]*?)\"/);\n  if (draftMatch) sections.draft_message = draftMatch[1].trim();\n\n  // Extract timeline — split by bullet points (*, -, •)\n  const timelineMatch = text.match(/3\\.\\s*Suggested Timeline[\\s\\S]*?:([\\s\\S]*)/i);\n  if (timelineMatch) {\n    const timelineRaw = timelineMatch[1];\n    sections.timeline = [];\n\n    // Split on bullet markers and filter empty lines\n    const bullets = timelineRaw\n       .split(/[\\n]?\\s*[\\*\\-•]\\s+/) \n      .map(b => b.trim())\n      .filter(b => b.includes(':'));\n\n    for (const bullet of bullets) {\n      // Each bullet is like \"Immediate (Within 4 hours): Execute the call...\"\n      const colonIdx = bullet.indexOf(':');\n      if (colonIdx === -1) continue;\n      const phase = bullet.slice(0, colonIdx).trim();\n      const action = bullet.slice(colonIdx + 1).trim();\n      if (phase && action) sections.timeline.push({ phase, action });\n    }\n  }\n\n  return sections;\n}\n\nconst parsedStrategy = parseStrategy(strategyText);\n\n// Get metadata from previous node\nconst prevData = $('Extract & Normalize Insights').first().json;\n\nreturn [{\n  json: {\n    ...prevData,\n    strategy_text: strategyText,\n    strategy_structured: {\n      recommended_action: parsedStrategy.recommended_action ?? null,\n      draft_message: parsedStrategy.draft_message ?? null,\n      timeline: parsedStrategy.timeline ?? []\n    },\n    analysis_timestamp: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1968,
        -80
      ],
      "id": "b6ba02c4-eaa2-4f18-97ea-0b2f3dd97b09",
      "name": "Parse Strategy Output"
    },
    {
      "parameters": {
        "jsCode": "// Get all data from strategy code node\nconst data = $('Parse Strategy Output').first().json;\n\n// Build your original Slack message\nconst slackMessage = `*Supplier Relationship Alert*\n*Supplier:* ${data.supplier_email}\n*Sentiment:* ${data.sentiment_score} (${data.sentiment_label})\n*Concern:* ${data.key_concern}\n\n*Recommended Strategy:*\n${data.strategy_structured?.recommended_action ?? 'N/A'}`;\n\nreturn [{\n  json: {\n    ...data,\n    slack_message: slackMessage\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2272,
        -80
      ],
      "id": "c7fb3627-67cf-479f-b5af-c480f3aae7b7",
      "name": "Build Slack Alert Message"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U0AP3B0UTMH",
          "mode": "list",
          "cachedResultName": "vishakag21"
        },
        "text": "=={{ $json.slack_message }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        2464,
        -80
      ],
      "id": "ea96b0ae-54b7-4303-b997-27c1b790abf5",
      "name": "Send Alert to Team",
      "webhookId": "a8c5b67e-0502-45a8-aa6a-1c00c20e5d01",
      "credentials": {
        "slackOAuth2Api": {
          "id": "lKAQNqNsGCJoONSX",
          "name": "Slack OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Ce8BFOTEkR2SjfD6mPMZUd-NMr5-cAdZrKfVJflZjmI",
          "mode": "list",
          "cachedResultName": "Log Sentiment History",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ce8BFOTEkR2SjfD6mPMZUd-NMr5-cAdZrKfVJflZjmI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ce8BFOTEkR2SjfD6mPMZUd-NMr5-cAdZrKfVJflZjmI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $('Parse Strategy Output').item.json.analysis_timestamp }}",
            "Supplier": "={{ $('Parse Strategy Output').item.json.supplier_email }}",
            "Sentiment Score": "={{ $('Parse Strategy Output').item.json.sentiment_score }}",
            "Label": "={{ $('Parse Strategy Output').item.json.sentiment_label }}",
            "Intent": "={{ $('Parse Strategy Output').item.json.intent }}",
            "Strategy": "={{ $('Parse Strategy Output').item.json.strategy_text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Supplier",
              "displayName": "Supplier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sentiment Score",
              "displayName": "Sentiment Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Label",
              "displayName": "Label",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Intent",
              "displayName": "Intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Strategy",
              "displayName": "Strategy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2832,
        -80
      ],
      "id": "b19113ae-801d-417b-bf8c-c213175cefb2",
      "name": "Log Interaction History",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RuID1Add5iZgOpU7",
          "name": "sample account"
        }
      }
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1424,
        -80
      ],
      "id": "98bf36ea-ae8d-4cba-a1e2-09a75ff4a310",
      "name": "Cool-off Period",
      "webhookId": "500ecf6a-b709-4c2d-9e58-71cfa0560f54"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        320,
        -64
      ],
      "id": "7b2050f3-16ae-43d3-8136-9cfe39cf8184",
      "name": "Cool-off Period1",
      "webhookId": "c8fa96e3-973c-4c32-98ae-c5911089a261"
    },
    {
      "parameters": {
        "content": "## Email Intake & Filtering\nMonitors incoming Gmail messages and filters out irrelevant emails like newsletters, auto-replies, and unsubscribe content to keep only valid supplier emails.",
        "height": 320,
        "width": 608,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -704,
        -208
      ],
      "typeVersion": 1,
      "id": "bb7b8017-fe29-4cc7-b71e-6b72f492c2d9",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Email Data Structuring\nExtracts and formats key email details (sender, subject, body) into a clean structure for AI analysis.",
        "height": 320,
        "width": 480,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -16,
        -208
      ],
      "typeVersion": 1,
      "id": "9885d9b3-6dce-4bd1-822b-f38fdd365574",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## AI Analysis & Insight Extraction\nUses Gemini AI to analyze sentiment, intent, and urgency, then converts the output into structured fields.",
        "height": 320,
        "width": 592,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        528,
        -208
      ],
      "typeVersion": 1,
      "id": "24ac08ca-dca0-4bad-bbca-9a761e0c3f7e",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Risk Detection & Delay Handling\nIdentifies high-risk supplier interactions and applies a delay before triggering response actions.",
        "height": 320,
        "width": 448,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1136,
        -208
      ],
      "typeVersion": 1,
      "id": "e32dcc7f-01c9-4ec3-9630-cfae219bb155",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Strategy Generation & Parsing\nGenerates a professional engagement strategy and structures it into action, message, and timeline.",
        "height": 320,
        "width": 496,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1632,
        -208
      ],
      "typeVersion": 1,
      "id": "44a88b8a-6255-4a4b-bbad-e4784705d93b",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Alert Creation & Notification\n\nFormats a Slack alert message and sends it to notify the team in real-time.",
        "height": 320,
        "width": 432,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2224,
        -208
      ],
      "typeVersion": 1,
      "id": "c4e886e0-6220-4a97-8c49-ad25708e62ba",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Logging & History Tracking\n\nStores all interaction data, sentiment, and strategies in Google Sheets for tracking and analysis.",
        "height": 320,
        "width": 320,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2736,
        -208
      ],
      "typeVersion": 1,
      "id": "aeff5555-e208-46ad-9214-cb4c1ddf977e",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Supplier Sentiment Intelligence \n\n### This workflow automatically monitors incoming supplier emails and transforms them into actionable insights using AI. Once an email arrives, it filters out irrelevant messages and structures the content for processing. The workflow then uses AI to analyze sentiment, intent, urgency, and potential relationship risk. Based on this analysis, it detects whether the supplier relationship is at risk and generates a professional engagement strategy including recommended actions, a draft response, and a follow-up timeline. The system then formats a concise alert message and sends it to the team via Slack for immediate attention. Finally, all interaction data, sentiment insights, and strategies are logged into Google Sheets for tracking and historical analysis. This ensures proactive supplier management and faster response to potential issues.\n\n---\n\n\n# Setup Steps  \n\n\n## Connect Accounts  \nConfigure Gmail, Gemini AI, Slack, and Google Sheets credentials in n8n.\n\n---\n\n## Prepare Data Storage  \nCreate a Google Sheet to store supplier interaction and analysis data.\n\n---\n\n## Add Email Trigger  \nSet up Gmail Trigger to monitor incoming supplier emails.\n\n---\n\n## Filter & Structure Data  \nFilter irrelevant emails and structure the content for processing.\n\n---\n\n## Add AI Analysis  \nUse AI to analyze sentiment, intent, urgency, and risk.\n\n---\n\n## Detect Risk  \nAdd logic to identify high-risk supplier interactions.\n\n---\n\n## Generate Strategy  \nUse AI to create engagement strategy and response message.\n\n---\n\n## Notify & Log  \nSend Slack alerts and store all data in Google Sheets.",
        "height": 896,
        "width": 1072
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1888,
        -400
      ],
      "typeVersion": 1,
      "id": "be7e3bd8-28fc-499c-adcf-061bc3724c6c",
      "name": "Sticky Note7"
    }
  ],
  "pinData": {},
  "connections": {
    "Monitor Incoming Emails": {
      "main": [
        [
          {
            "node": "Filter Valid Supplier Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Valid Supplier Emails": {
      "main": [
        [
          {
            "node": "Structure Email Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structure Email Data": {
      "main": [
        [
          {
            "node": "Cool-off Period1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Sentiment & Intent": {
      "main": [
        [
          {
            "node": "Extract & Normalize Insights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract & Normalize Insights": {
      "main": [
        [
          {
            "node": "Detect Supplier Risk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Supplier Risk": {
      "main": [
        [
          {
            "node": "Cool-off Period",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Engagement Strategy": {
      "main": [
        [
          {
            "node": "Parse Strategy Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Strategy Output": {
      "main": [
        [
          {
            "node": "Build Slack Alert Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Slack Alert Message": {
      "main": [
        [
          {
            "node": "Send Alert to Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Alert to Team": {
      "main": [
        [
          {
            "node": "Log Interaction History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cool-off Period": {
      "main": [
        [
          {
            "node": "Generate Engagement Strategy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cool-off Period1": {
      "main": [
        [
          {
            "node": "Analyze Sentiment & Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "becdb1eb-9037-4dfb-b939-4839a2ec4a1c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f27739ea7ff3a87f7bf9c66c729159b4bef14582f083ae2ee9bbd27cecc68161"
  },
  "id": "YyVrrKMilghkIVmN",
  "tags": []
}